@model IEnumerable<Identity.Models.MuscleGroup>

@{
    ViewData["Title"] = "Index";
        Layout = "_AdminLayout";

}

<h3>Create Muscles!</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-bordered table-sm">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkoutsID)

            <th>
               Muscle
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkoutsID)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.muscle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.muscleGroupID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.muscleGroupID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.muscleGroupID">Delete</a>
            </td>
        </tr>
}
    </tbody>
     
</table>


<div>


    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <a asp-controller="Account" asp-action="Logout"
           class="btn btn-danger">Logout</a>
    }
</div>