@*@model IEnumerable<Identity.Models.MuscleGroup>*@
@model Identity.Models.ViewModel.MuscleGroupListViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";

}



<head>
    <link rel="stylesheet" href="~/css/TableSheet.css" />

</head>
<p>
    @*<a asp-action="Create" style="color:black">Create WorkOuts!, </a>*@
    <a>Create WorkOuts! </a>
    <a asp-action="Create">Create New</a>

</p>

<table class="table table-striped table-bordered table-sm" border="1">

    <thead>
        <tr>
            <th>
                WorkOutsID
            <th>

                MuscleGroupID

            </th>

            <th>
                WorkOut
            </th>

            <th>
                MuscleGroup
            </th>
            @*<th>
            Description
        </th>*@


            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MuscleGroups)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.muscleGroupID)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkoutsID)

            </td>

            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.muscleCategory)
            </td>
            @*<td>
            <a href="#demo" data-toggle="collapse" style="color:black"> Click to view details .....</a>
            <div id="demo" class="collapse">
                @Html.DisplayFor(modelItem => item.description)
            </div>
        </td>*@

            <td>
                <a asp-action="Edit" asp-route-id="@item.muscleGroupID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.muscleGroupID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.muscleGroupID">Delete</a>
            </td>
        </tr>
        }
    </tbody>

</table>
<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary"
     page-class-selected="btn-info" class="btn-group pull-right m-1">
</div>

<div>



</div>