@model IEnumerable<Excerciser>
@{
    ViewBag.Title = "Manage";
    Layout = "_AdminLayout";
}
<div><h3>Excercisers</h3></div>
<table class="table table-striped table-bordered table-sm">
    <tr>
        <th class="text-center">ID</th>
        <th>Name</th>
        <th class="text-left">Email</th>
        <th class="text-center">Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">@item.ID</td>
            <td>@item.UserName</td>
            <td class="text-left">@item.Email</td>
            <td class="text-center">

                <form asp-action="DeleteFromSpotMe" asp-route-id="@item.ID" method="post">
                    @*<a asp-action="Edit" class="btn btn-sm btn-warning"
                           asp-route-productId="@item.ID">
                            Edit
                        </a>*@
                    <input type="hidden" name="ProductID" value="@item.ID" />
                    <button type="submit" class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </form>
            </td>

        </tr>
    }
</table>
<div class="text-left">
    <a class="btn btn-primary" asp-action="Create">Create User</a>
   
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <a asp-controller="Account" asp-action="Logout"
           class="btn btn-danger">Logout</a>
    }
</div>